.Modal {
    border-radius: 10px;
    position: fixed;
    z-index: 500;
    background-color: rgba(255, 255, 255, 0.95);
    width: 40%;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 30%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media only screen 
and (min-width: 375px) and (max-width: 700px) {
    .Modal {
        width: 80%;
        padding: 0;
        left: 10%;
        top: 10%;
    }
}