@import '../../index.scss';

.ServiceContainer {
    margin-top: 16rem;

    &__text {
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    &__service-type {
        margin-top: 16rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10rem;
        justify-content: space-evenly;
    }
}