.btn {
   transition: all .2s; 
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0, .2);
}

.QuoteDiv {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}

.Quote {
    border: 2px solid rgb(255,220,0);
    background-color: rgb(255, 234, 0);
    border-radius: 16px;
    width: 20rem;
    outline: none;
}

@media only screen 
and (min-width: 375px) and (max-width: 700px) {
    .Quote {
        width: 16rem;
    }
}