@import '../../../index.scss';

.serviceType {
    box-sizing: border-box;
    width: 20rem;

    &__icon {
        width: 10rem;
    }

    &__text {
        font-size: 1.5rem;
        color: $colorBlack;
        letter-spacing: .1rem;
        font-weight: 600;
    }
}