header {
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(56, 56, 216);
}

h1 {
    font-family: 'Marck Script', cursive;
    word-spacing: 4px;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 16px;
    word-spacing: 4px;
    color: white;
}