.quote-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 550px;
    padding: 30px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    
}

.input {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 1rem;
}