@import '../../index.scss';

.EmailForm {

    &__contact-text {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }

    &__cancel-btn {
        display: flex;
        justify-content: flex-end;
    }
    
    &__quote {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 550px;
        padding: 30px;
    }
    
    &__input-fields {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-input {
            width: 90%;
            height: 40px;
            margin-bottom: 1rem;
            background: transparent;
            outline: none;
            border: 0;
            border-bottom: 2px solid rgba(128, 128, 128, 0.5);
        }

        &:invalid {
            box-shadow: none;
        }
    }
    
    &__text-area {
        display: flex;
        justify-content: center;

        &-text {
            font-family: inherit;
            font-size: 1.2rem;
            width: 90%;
            margin-bottom: 3rem;
            background: transparent;
            outline: none;
            border: 0;
            border-bottom: 2px solid rgba(128, 128, 128, 0.5);
        }
    }

    &__photo-sample {
        margin: 4rem auto;
        // display: flex;
        // justify-content: center;

        // &-label {
        //     font-family: inherit;
        // }

        // &-input {
            
        // }
    }

    &__cancel-btn{
        
        &-x {
            border: none;
            background: transparent;
            font-size: 2rem;
            font-weight: 100;
            color: $colorLightGray;

            &:hover {
                color: $colorBlack;
            }
        }
    }
    
    &__send-btn {
        display: flex;
        justify-content: space-evenly;

        &-success {
            background-color: $colorPrimaryLight;
            color: white;
            font-size: 1.8rem;
            border: none;
            border-radius: 10px;
            outline: none;
            padding: 1rem 10rem;
            height: 4rem;
            letter-spacing: .1rem;

            &:hover {
                background-color: $colorWhite;
                color: $colorPrimaryLight;
                border: .1rem solid $colorPrimaryDark;    
            }
        }
    }
}