.bg-pic {
    background-image: url('https://live.staticflickr.com/65535/50630796327_6bf58e00a9_k.jpg');
    width: 100%;
    height: 1000px;
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
}

.bg-info {
    display: none;
}

.arrow {
    display: none;
  }

@media only screen 
and (min-device-width: 375px) and (max-width: 1000px) {
    .bg-pic {
        height: 650px;
        background-size: auto;
        background-position: center;
        background-size: 1400px; 
    }

    .bg-info {
        padding-top: 1rem;
        font-size: 2rem;
        color: white;
    }

    .arrow {
        display: block;
        margin-bottom: 7rem;
      }
}