.bg-pic {
    background-image: url('https://live.staticflickr.com/65535/50630796327_6bf58e00a9_k.jpg');
    width: 100%;
    height: 1000px;
    margin-top: 0;
    /* /* object-fit: cover; */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover; 
}

.bg-info {
    padding-top: 1rem;
    font-size: 3rem;
    color: white;
}

.arrow {
    display: none;
  }

@media only screen 
and (min-device-width: 375px) and (max-width: 1000px) {
    .bg-pic {
        height: 650px;
        background-size: auto;
        /* object-fit: none;
        /* background-size: none; */
        background-position: center;
        background-size: 1400px; 
        /* /* background-repeat: no-repeat; */
    }

    .bg-info {
        /* margin-top: 0rem; */
        font-size: 2rem;
    }

    .arrow {
        display: block;
        margin-bottom: 7rem;
      }
}