.Title {
    font-family: 'Goldman', cursive;
    word-spacing: 4px;
    color: white;
    font-weight: 200;
    font-size: 24px;
    box-sizing: border-box;
    margin: 14px;
}

#phone {
    font-size: 18px;
}

.phone-number {
    text-decoration: none;
    color: white;
}

@media only screen 
and (min-width: 375px) and (max-width: 700px){
    .Title {
        font-size: 16px;
    }

    #phone {
        font-size: 12px;
    }
}

/* font-family: 'Goldman', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Nunito', sans-serif; */